<% include ../partials/head %>
<div class="container">
	<h1>Users</h1>
	<form action="" method="post">
		<p>Create a New Users:</p>
		<input type="text" name="name" placeholder="Name" required/>
		<input type="submit" value="Create"/>
	</form>
	<% if(users.length > 0) { %>
		<p>Here are the current users:</p>
		<ul>
		<% users.forEach(function(user) { %>
			<li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
		<% }); %>
		</ul>
	<% } else { %>
		There are no users
	<% } %>
</div>
<% include ../partials/foot %>